body {
	padding-top: 33px;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.center {
	text-align: center;
}

.right {
	float: right;
}
@media screen and (max-width: 921px) {
	.right {
		margin-right: 15px;
	}
}
@media screen and (min-width: 920px) {
	.right {
		margin-right: 0;
	}
}

@media screen and (max-width: 921px) {
	.pc {
		display: none !important;
	}
}
@media screen and (min-width: 920px) {
	.mobile {
		display: none !important;
	}
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
	border: 1px solid;
	padding: 10px;
	border-radius: 5px;
}
.error li {
	margin-left: 25px;
}

.scroll-x {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.icon {
	vertical-align: middle;
	margin-right: 2px;
}

body {
	color: #333;
	font-size: 14px;
}

a {
	color: #1f8dd6;
}

@media screen and (max-width: 921px) {
	form {
		padding: 10px;
	}
}
@media screen and (min-width: 920px) {
	form {
		padding: 0;
	}
}

#main {
	margin-bottom: 30px;
}

#main .logo {
	vertical-align: middle;
	margin-right: 10px;
}
@media screen and (max-width: 921px) {
	#main .logo {
		height: 50px;
	}
}
@media screen and (min-width: 920px) {
	#main .logo {
		height: 80px;
	}
}

#main .version {
	font-size: 12px;
	color: #999;
}

#menu {
	position: fixed;
	top: 0;
	border-bottom: 1px solid #ccc;
	background: #f2f2f2;
}

.pure-menu-heading {
	font-weight: bold;
}

.wrapper {
	margin: auto;
}
@media screen and (max-width: 921px) {
	.wrapper {
		width: 100%;
		padding-top: 10px;
		padding-bottom: 30px;
	}
}
@media screen and (min-width: 920px) {
	.wrapper {
		width: 880px;
		padding-top: 30px;
		padding-bottom: 50px;
	}
}

.account-create-form {
	width: 400px;
	margin: auto;
	margin-top: 20px;
}

@media screen and (max-width: 500px) {
	.account-create-form {
		width: 280px;
	}
}

.account-create-form label {
	margin-top: 10px;
}

.account-create-form .email {
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold;
}

.account-create-form pre {
	margin-top: 20px;
	white-space: pre-wrap; /* CSS 3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	height: 110px;
	overflow-y: scroll;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	font-size: 12px;
}

.account-create-form input[type=submit] {
	margin-top: 10px;
}

@media screen and (max-width: 921px) {
	#board-decoration {
		padding: 0 15px;
	}
}
@media screen and (min-width: 920px) {
	#board-decoration {
		padding: 0;
	}
}

.board {
	margin-top: 20px;
	width: 100%;
	margin-bottom: 20px;
	border-left: none;
	border-right: none;
}

.board .more {
	margin-top: 10px;
	margin-bottom: 3px;
	font-size: 12px;
	color: #999;
}

@media screen and (max-width: 921px) {
	.article {
		padding: 15px;
	}
}
@media screen and (min-width: 920px) {
	.article {
		padding: 0;
	}
}
.article h3 {
	float: left;
}

.article .other {
	float: right;
	color: #999;
}

.article .other p {
	float: left;
	margin-left: 15px;
}

.article .content {
	margin-bottom: 20px;
	font-size: 14px;
}
@media screen and (max-width: 921px) {
	.article .content {
		padding: 0;
		border: none;
	}
}
@media screen and (min-width: 920px) {
	.article .content {
		padding: 15px;
		border: 1px solid #ccc;
	}
}

.article-form label {
	margin-top: 10px;
	margin-bottom: 7px;
	font-weight: bold;
}

.article-form select {
	width: 100%;
	height: 35px;
}

.article-form input {
	width: 100%;
}

.article-form textarea {
	width: 100%;
}

.article-form [type=submit] {
	margin-top: 10px;
	width: 100%;
}

#comment-list {
	margin-top: 20px;
}

.comment {
	background: #eee;
	border-top: 1px solid #ccc;
	padding: 15px;
}

.comment .nickname {
	font-weight: bold;
}

.comment .time {
	color: #999;
}

.comment p {
	margin: 0;
	margin-top: 5px;
}

.comment .menu {
	float: right;
}

.comment .menu a {
	margin-left: 10px;
}

.pagination {
	margin: 40px 0 10px 0;
	text-align: center;
}

.pagination a {
	padding: 5px 10px;
	border: 1px solid #ccc;
	text-decoration: none;
	margin-right: -1px;
	color: #999;
	font-weight: bold;
}

.pagination .now {
	background: #ccc;
	color: #fff;
}

footer {
	border-top: 1px solid #ccc;
	background: #f2f2f2;
	text-align: center;
}
@media screen and (max-width: 921px) {
	footer {
		padding: 10px;
		font-size: 12px;
		line-height: 2em;
	}
}
@media screen and (min-width: 920px) {
	footer {
		padding: 15px;
		font-size: 14px;
		line-height: 2em;
	}
}
