.clear {
	clear: both;
}

.center {
	text-align: center;
}

.right {
	float: right;
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
	border: 1px solid;
	padding: 10px;
	border-radius: 5px;
}
.error li {
	margin-left: 25px;
}

body {
	color: #333;
	font-size: 14px;
}

a {
	color: #1f8dd6;
}

#wrapper {
}

#top {
	padding: 20px;
}

#top h1 {
	float: left;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}

#top h1 a {
	color: #000;
	text-decoration: none;
}

#top .url {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

#top p {
	margin: 0;
	float: right;
	color: #666;
}

@media screen and (max-width: 500px) {
	#top p {
		display: none;
	}
}

nav {
	padding: 10px 20px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background: #fafafa;
}

.content {
	padding: 20px;
}

.account-create-form {
	width: 400px;
	margin: auto;
	margin-top: 20px;
}

@media screen and (max-width: 500px) {
	.account-create-form {
		width: 280px;
	}
}

.account-create-form label {
	margin-top: 10px;
}

.account-create-form .email {
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold;
}

.account-create-form pre {
	margin-top: 20px;
	white-space: pre-wrap;       /* CSS 3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	height: 110px;
	overflow-y: scroll;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	font-size: 12px;
}

.account-create-form input[type=submit] {
	margin-top: 10px;
}

.board {
	width: 100%;
	margin-bottom: 20px;
}

.article .content {
	border: 1px solid #ccc;
	margin-bottom: 20px;
}

#comment-list {
	margin-top: 20px;
}

.comment {
	background: #eee;
	border-top: 1px solid #ccc;
	padding: 10px;
}

.comment .nickname {
	font-weight: bold;
}

.comment .time {
	color: #999;
}

.comment p {
	margin: 0;
	margin-top: 5px;
}

footer {
	padding: 20px;
	border-top: 1px solid #eee;
	background: #fafafa;
}
